<!DOCTYPE html>

<title>TblUserorder</title>

{% block body %}
    <h1>TblUserorder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numberorder</th>
                <td>{{ tbl_userorder.numberorder }}</td>
            </tr>
            <tr>
                <th>Createddtm</th>
                <td>{{ tbl_userorder.createddtm ? tbl_userorder.createddtm|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Paydtm</th>
                <td>{{ tbl_userorder.paydtm ? tbl_userorder.paydtm|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Orderaddress</th>
                <td>{{ tbl_userorder.orderaddress }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tbl_userorder_index') }}">back to list</a>

    <a href="{{ path('app_tbl_userorder_edit', {'numberorder': tbl_userorder.numberorder}) }}">edit</a>

    {{ include('tbl_userorder/_delete_form.html.twig') }}
{% endblock %}
