{% extends 'baseFront.html.twig' %}

{% block title %} Your Orders {% endblock %}

{% block banner %} {% endblock %}

{% block content %}

    <section id="shop-cart-section" class="pt-120 pb-120">

        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Your orders</h1>
                        <br>
                        <br>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Issued At</th>
                                    <th scope="col">Pay Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Address</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if ordersList is not empty %}
                                    {% for order in ordersList %}
                                        <tr>
                                            <td>#{{ order.numberorder }}</td>
                                            <td>{{ order.createddtm ? order.createddtm|date('Y-m-d') : '' }}</td>
                                            <td>{{ order.paydtm ? order.paydtm|date('Y-m-d') : 'Unpaid' }}</td>
                                            <td style="color:{{ order.idstatusorder | upper == 'PENDING' ? 'gold' :
                                            order.idstatusorder | upper == 'DELIVERY' ? 'CYAN' : order.idstatusorder | upper == 'DONE' ? 'pink' : 'red' }};">
                                                {{ order.idstatusorder }}
                                            </td>
                                            <td>{{ order.orderaddress }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>No items for now</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
