{% extends 'baseFront.html.twig' %}


{% block content %}
    {{ form_start(form_modify, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(form_modify._token) }}
    <link href={{ asset('assets/css/styleProfile.css') }} rel="stylesheet">

    <div style="padding:70px">

        <section id="checkout" class="pt-120 pb-120">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="head-area top">
                                <h4>Password Management</h4>
                                <p>Please enter your new Credentials</p>
                            </div>
                            <form>
                                <div class="form-row">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                            {% set link = "Uploads/Images/" %}
                                            {% set picture = User.photo  %}

                                            <img src={{ asset( "#{link}#{picture}" ) }}>

                                        </div>

                                        <h5 class="user-name">{{ User.nom }}</h5>
                                        <h6 class="user-email">{{ User.email }}</h6>




                                    </div>
                                </div>
                        </div>
                        <div class="form-row">
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Street">Mot de passe</label>
                                        {{ form_row(form_modify.password.first,{ 'attr': {'class': "form-control",
                                            'placeholder': 'Votre mot de passe'|trans} }) }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="sTate">Confirmer</label>
                                        {{ form_row(form_modify.password.second,{ 'attr': {'class': "form-control",
                                            'placeholder': 'Confirmer votre mot de passe'|trans} }) }}
                                        <div class="text-right">
                                            <button type="submit" class="cmn-btn">Modifier</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group checkbox col-md-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">


                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="payment-container billing">
                            <div class="head-area">
                                <h4>Billing method</h4>
                                <p>Please enter your payment method</p>
                            </div>
                            <div class="billing-method">
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="one" name="optradio" class="form-check-input" checked>
                                            <span class="checkmark fedex"></span>
                                        </div>
                                        <label for="one" class="d-flex justify-content-between align-items-center">
                                            <span class="head">FedEx</span>
                                            <span class="mid">
                                                <span class="currency">+32 USD</span>
                                                <span>Additional price</span>
                                            </span>
                                            <img src="images/fedex.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="two" name="optradio" class="form-check-input">
                                            <span class="checkmark"></span>
                                        </div>
                                        <label for="two" class="d-flex justify-content-between align-items-center">
                                            <span class="head">DHL</span>
                                            <span class="mid">
                                                <span class="currency">+15 USD</span>
                                                <span>Additional price</span>
                                            </span>
                                            <img src="images/dhl.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment-container">
                            <div class="head-area">
                                <h4>Payment method</h4>
                                <p>Please enter your payment method</p>
                            </div>
                            <div class="billing-method method">
                                <div class="single-area credititem">
                                    <div class="form-check">
                                        <div class="radio-area credit">
                                            <input type="radio" id="credit" name="paymentmethod" class="form-check-input" checked>
                                            <span class="checkmark"></span>
                                        </div>
                                        <label for="credit" class="d-flex justify-content-between align-items-center">
                                            <span class="head">Credit Card</span>
                                            <span class="right-item d-flex">
                                                <img src="images/visa.png" alt="image">
                                                <img src="images/mastercard.png" alt="image">
                                            </span>
                                        </label>
                                    </div>
                                    <form class="creditcard">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="cardnumber">Card Number</label>
                                                <input type="number" class="form-control" id="cardnumber" placeholder="Card Number">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="cardholder">Card Holder</label>
                                                <input type="number" class="form-control" id="cardholder" placeholder="Card Holder">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="date">Expiration date</label>
                                                <input type="date" class="form-control" id="date">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="cvc">CVC</label>
                                                <input type="number" class="form-control" id="cvc" placeholder="CVC">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="paypal" name="paymentmethod" class="form-check-input">
                                            <span class="checkmark"></span>
                                        </div>
                                        <label for="paypal" class="d-flex justify-content-between align-items-center">
                                            <span class="head">Paypal</span>
                                            <img src="images/paypal.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="bitcoin" name="paymentmethod" class="form-check-input">
                                            <span class="checkmark"></span>
                                        </div>
                                        <label for="bitcoin" class="d-flex justify-content-between align-items-center">
                                            <span class="head">Bitcoin</span>
                                            <img src="images/bitcoin.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group checkbox col-md-10">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agreewith">
                                        <label class="custom-control-label" for="agreewith">I agree with our terms and conditions and privacy policy.</label>
                                    </div>
                                </div>
                                <a href="#" class="cmn-btn">Complete Order</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="right-sidebar">
                            <div class="top-area">
                                <h5>Order Summary</h5>
                                <p>Price can change depending on shipping
                                    method and taxes of your state.</p>
                            </div>
                            <div class="bottom-side text-center">
                                <ul class="bottom-area">
                                    <li>
                                        <span>Subtotal</span>
                                        <span>€49.90</span>
                                    </li>
                                    <li>
                                        <span class="text-sm">Delivery (Standard)</span>
                                        <span class="text-sm">€1.80</span>
                                    </li>
                                    <li>
                                        <span class="text-sm">Taxes & Fees</span>
                                        <span class="text-sm">€7.30</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <span>Total Order</span>
                                        <h4>€59.00</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <div id="divCheckbox" style="display: none;">{{ form_rest(form_modify) }}</div>


    {{ form_end(form_modify, {'render_rest': false}) }}

{% endblock %}