{% extends 'baseFront.html.twig' %}
{% block bannerTitle %} Your Cart {% endblock %}
{% block content %}
<section id="shop-cart-section" class="pt-120 pb-120">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if cart is not empty %}
                            {% for item in cart %}
                            <tr>
                                <th scope="row">
                                    <img src="{{ asset("frontTemplate/images/cart-image.png") }}" alt="image">
                                    <span>{{ item.product.nameproduct }}</span>
                                </th>
                                <td class="Prodprice">{{ item.product.priceproduct * item.quantity }}</td>
                                <input type="hidden" class="Oldprice" value="{{ item.product.priceproduct }}">
                                <td>
                                    <div class="qtySelector text-center">
                                        <i class="fas fa-minus decreaseQty"></i>
                                        <input type="text" class="qtyValue" value="{{ item.quantity }}">
                                        <i class="fas fa-plus increaseQty"></i>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="cart-dismiss">
                                        <a href="{{ path("removeFromCart", {"nameProd": item.nameproduct}) }}">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                                {% else %}
                                <tr>
                                    <td>No items for now</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:void(0)" id="updateQuant" class="cmn-btn">Update Cart</a>
                </div>
                <div class="col-lg-4">
                    <div class="right-sidebar">
                        <div class="top-area">
                            <h5>Order Summary</h5>
                            <p>Price can change depending on shipping
                                method and taxes of your state.</p>
                        </div>
                        <div class="bottom-side text-center">
                            <ul>
                                <li>
                                    <span>Subtotal</span>
                                    <span>€49.90</span>
                                </li>
                                <li>
                                    <span class="text-sm">Delivery (Standard)</span>
                                    <span class="text-sm">€1.80</span>
                                </li>
                                <li>
                                    <span class="text-sm">Taxes & Fees</span>
                                    <span class="text-sm">€7.30</span>
                                </li>
                            </ul>
                            <form action="#">
                                <div class="apply d-flex">
                                    <input type="text" placeholder="Enter pomo Code">
                                    <button class="cmn-btn">Apply</button>
                                </div>
                            </form>
                            <ul>
                                <li class="d-flex align-items-center">
                                    <span>Total Order</span>
                                    <h4>€59.00</h4>
                                </li>
                            </ul>
                            <a href="#" class="cmn-btn checkout">proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script>

        document.querySelector('#updateQuant').addEventListener('click', () => {
            document.querySelectorAll('.Prodprice').forEach(
                (p) => {
                    p.innerHTML = `${document.querySelectorAll('.Oldprice').value * document.querySelector('.qtyValue').value}`;
                }
            );


        });

    </script>
{% endblock %}