<!DOCTYPE html>

<title>TblOrderline index</title>

{% block body %}
    <h1>TblOrderline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idorderline</th>
                <th>Quantordline</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_orderline in tbl_orderlines %}
            <tr>
                <td>{{ tbl_orderline.idorderline }}</td>
                <td>{{ tbl_orderline.quantordline }}</td>
                <td>
                    <a href="{{ path('app_tbl_orderline_show', {'idorderline': tbl_orderline.idorderline}) }}">show</a>
                    <a href="{{ path('app_tbl_orderline_edit', {'idorderline': tbl_orderline.idorderline}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tbl_orderline_new') }}">Create new</a>
{% endblock %}
