<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{% block title %} Nebula Gaming {% endblock %}</title>

    {% block stylesheet %}
        <link rel="shortcut icon" href="{{ asset ("frontTemplate/images/nebula_firstshot.png") }}" type="image/x-icon">

        <link rel="stylesheet" href={{ asset ("frontTemplate/css/bootstrap.min.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/fontawesome.min.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/slick.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/magnific-popup.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/nice-select.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/animate.css") }}>
        <link rel="stylesheet" href={{ asset ("frontTemplate/css/style.css") }}>
        <link rel="stylesheet" href="{{ asset('frontTemplate/css/swal2.dark.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontTemplate/css/rem-btn-styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
              integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <style>
            .purple-entr-profile {
                background-color: #32286D;
            }
        </style>
    {% endblock %}
</head>

<body>
{% block body %}
    <!-- header-section start -->

    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->

    <a href="#" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>

    <div>
        {% block header %}
            <header id="header-section">
                <div class="overlay">
                    <div class="container">
                        <div class="row d-flex header-area">
                            <div class="logo-section flex-grow-1 d-flex align-items-center">
                                <a class="site-logo site-title" href="#">
                                  <p>Nebula Gaming</p>
                                </a>
                            </div>
                            <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <nav class="navbar navbar-expand-lg p-0">
                                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav main-menu ml-auto">
                                        <li>
                                            <a href="/" class="active">Home</a>
                                        </li>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.stateuser=="Active" %}
                                            <li class="menu_has_children"><a href="#">Market</a>
                                                <ul class="sub-menu">
                                                    <li><a href="{{ path('allProducts') }}">Goods</a></li>
                                                    <li><a href="{{ path('myProducts') }}">Your Goods</a></li>
                                                    <li><a href="{{ path('addProduct') }}">Publish A New Product</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ path('leaderBoards') }}">Leaderboards</a></li>
                                            <li class="menu_has_children">
                                                <a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    {% if is_granted('ROLE_ENTREPRISE') %}
                                                        <li>
                                                            <a href={{ path('ProfilEntreprise') }}>My Space</a>
                                                        </li>
                                                    {% elseif is_granted('ROLE_MEMBRE') %}
                                                        <li>
                                                            <a href={{ path('profilMembre') }}>My Profile</a>
                                                        </li>
                                                    {% elseif is_granted('ROLE_ENTREPRISEN') %}
                                                        <li>
                                                            Verifier Votre Compte
                                                        </li>
                                                    {% endif %}
                                                    <li><a href="{{ path('goToCart') }}">Cart</a></li>
                                                    <li><a href="{{ path('checkOut') }}">Check Out</a></li>
                                                    <li><a href="{{ path('myOrders') }}">My Orders</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ path('app_reclamation_index') }}">Contact</a></li>
                                        {% else %}
                                            <li><a href="{{ path("display_Vg") }}">Video Games</a></li>
                                            <li><a href="{{ path('allProducts') }}">Goods</a>
                                            <li><a href="{{ path('leaderBoards') }}">Leaderboards</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                            <div class="right-area header-action d-flex align-items-center">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.stateuser=="Active" %}
                                    <p>{{ app.user.nom }}</p>
                                    <div class="header-btn d-none f-right d-lg-block">
                                        <a href="{{ path('logout') }}" class="cmn-btn">Logout</a>
                                    </div>
                                {% else %}
                                    <a href="{{ path('loginBack') }}" class="login-btn">Login</a>
                                    <a href="{{ path('loginBack') }}" class="cmn-btn">Join Now!</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
    </div>


    <!-- header-section end -->

    <!-- banner-section start -->
    <div>

        {% block banner %}
            <section id="banner-section">
                <div class="banner-content d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="main-content">
                                    <div class="top-area justify-content-center text-center">
                                        <h4>Supernova presents</h4>
                                        <h1>Nebula Gaming</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua</p>
                                        <div class="btn-play d-flex justify-content-center align-items-center">
                                            <a href="#" class="cmn-btn">Get Started</a>
                                            <a href="" class="mfp-iframe popupvideo">
                                                <img src={{ asset ("frontTemplate/images/play-icon.png") }} alt="play">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-12">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="bottom-area text-center">
                                                        <img src={{ asset ("frontTemplate/images/versus.png") }} alt="banner-vs">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ani-illu">
                            <img class="left-1 wow fadeInUp"
                                 src={{ asset ("frontTemplate/images/left-banner.png") }} alt="image">
                            <img class="right-2 wow fadeInUp"
                                 src={{ asset ("frontTemplate/images/right-banner.png") }} alt="image">
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>

    {% block content %}

    {% endblock %}


    <div>
        {% block footer %}
            <footer id="footer-section">
                <div class="footer-mid pt-120">
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-lg-8 col-md-8 d-flex justify-content-md-between justify-content-center align-items-center cus-grid">
                                <div class="logo-section">
                                    <a class="site-logo site-title" href="#"><img
                                                width="15%"
                                                height="auto"
                                                src="{{ asset ("frontTemplate/images/nebula_firstshot.png") }}"
                                                alt="site-logo"/></a>
                                </div>
                                <ul class="menu-side d-flex align-items-center">
                                    <li><a href="/" class="active">Home</a></li>
                                    <li><a href="{{ path('allProducts') }}">Market</a></li>
                                    <li><a href="{{ path('app_reclamation_index') }}">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="right-area">
                                    <ul class="d-flex">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="main-content">
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-6">
                                    <div class="left-area text-center">
                                        <p>Copyright © 2022. All Rights Reserved By
                                            <a href="#">Nebula Gaming</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>

    <!-- footer-section end -->

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.0/axios.min.js"
            integrity="sha512-yt+yearry6Evoodvr9oWzfGBYcXRyXAbJNZRyD7bHUHs39vj82vnRv1zCqzdh+bShT+c9IQ4T+uX3CmLofd4ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset ("frontTemplate/js/jquery-3.5.1.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/slick.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/jquery.nice-select.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/fontawesome.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/jquery.counterup.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/jquery.waypoints.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/jquery.magnific-popup.min.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/wow.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/main.js") }}"></script>
    <script src="{{ asset ("frontTemplate/js/sweetalert2.all.min.js") }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <script src="//code.jquery.com/jquery.js"></script>
{% endblock %}

{% endblock %}

</body>

</html>
