{% extends 'baseFront.html.twig' %}

{% block content %}

    <section id="checkout" class="pt-120 pb-120">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="head-area top">
                        </div>
                        {{ form_start(f) }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fname">Description</label>
                                {{ form_widget(f.descriptionpub,{'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(f.Submit,{'attr':{'class':'btn btn-primary'}}) }}

                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                <a xlink:href="{{ path('display_Vg') }}" >
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </a>
                            </svg>

                        </div>

                        {{ form_end(f) }}

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}