{% extends 'baseBack.html.twig' %}

{% block title %}  Quiz Details  {% endblock %}

{% block content %}

    <div class="col-lg-12">
    <div class="card">
        {% if options is null %}
        <div class="card-body"> <h5 class="card-title">Options</h5>
            {% endif %}

            {% set break = false %}

            {% for option in options  %}
            {% if not break  %}
            <div class="card-body"> <h5 class="card-title">Options <span>| {{ option.idpost }} </span></h5>
                {% set break = true %}
                {% endif %}
                {% endfor %}


                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% set counter = 0 %}
                    {% for option in options %}
                        {% set counter = counter + 1 %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne{{ counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne"> Option #{{ counter }}
                                    {% if  option.statusoptions == 1 %}
                                        <div class="d-flex flex-row-reverse" style="width: 87%;"><span class="badge bg-success">{{ constant ('App\\Entity\\TblPost::STATUS_POST')['1'] }}</span></div>
                                    {% else %}
                                        <div class="d-flex flex-row-reverse" style="width: 87%;"><span class="badge bg-danger">{{ constant ('App\\Entity\\TblPost::STATUS_POST')['0'] }}</span></div>
                                    {% endif%}
                                </button>
                            </h2>

                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample" style="">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="accordion-body">{{ option.contentoption }}</div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="d-flex flex-row-reverse"><a href="{{ path('app_option_edit', {'idoption': option.idoption}) }}" class="text-primary"><i class="bi bi-pencil-fill"></i></a></div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    {% else %}
                        <div class="accordion-item">
                            <p colspan="5">no records found</p>
                        </div>
                    {% endfor %}


                </div>
                <hr>
                <a href="{{ path('app_option_new', {'idpost':app.request.attributes.get('idpost') }) }}">Create new</a>
                |
                <a href="{{ path('app_quiz_index') }}">Back to list</a>

            </div>

        </div>

    </div>
{% endblock %}