{% extends 'baseFront.html.twig' %}

{% block title %} Shop {% endblock %}

{% block bannerTitle %} Shop {% endblock %}

{% block content %}
<section id="featured-products" class="pt-120 pb-120">
    <div class="container">
        <div class="row cus-m">
            {% for p in prods %}
            <div class="col-lg-4 col-md-6 p-2">
                <div class="single-item">
                    <div class="img-area text-center">
                        <img src="{{ asset("frontTemplate/images/featured-products-1.png") }}" alt="image">
                    </div>
                    <div class="bottom-item text-center">
                        <h6>{{ p.nameproduct }}</h6>
                        <p class="text-sm">{{ p.idcategory.namecategory }}</p>
                        <div class="bottom-area d-flex align-items-center justify-content-between">
                            <h5>{{ p.priceproduct }} TND</h5>
                            <a href="{{  path("detailProd", {idP: p.idproduct}) }}" class="cmn-btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}