{% extends 'baseFront.html.twig' %}

{% block title %} Shop | {{ prod.nameproduct }} {% endblock %}

{% block bannerTitle %} Product Details {% endblock %}

{% block content %}
    <!-- Shop Content Start -->
    <div id="shop-content" class="pt-120 pb-120">
        <div class="container">
            <div class="shop-details-content">
                <div class="row justify-content-center cus-pad">
                    <div class="col-lg-6">
                        <div class="xzoom-container">
                            <img class="xzoom5" id="xzoom-magnific" alt="image"
                                 src="{{ asset("frontTemplate/images/01.png") }}"
                                 xoriginal="{{ asset("frontTemplate/images/01.png") }}"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-item">
                            <h4>{{ prod.nameproduct }}</h4>
                            <div class="bottom-area d-flex align-items-center">
                                <h5>{{ prod.priceproduct }} TND</h5>
                                <div class="d-flex flex-column p-3 justify-content-evenly">
                                    <a href="{{ path("addToCart", {"idProd": prod.idproduct}) }}" class="cmn-btn">Add to
                                        Basket</a>
                                    <a href="{{ path("addToWishlist", {"idwishlist": 1, "idProduct": prod.idproduct, "idUser": 1}) }}"
                                       class="cmn-btn">Add to Wishlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}