{% extends 'baseFront.html.twig' %}

   {% block banner %}
    <section id="banner-section" class="inner-banner profile">
        <div class="ani-img">
            <img class="img-1" src="images/banner-circle-1.png" alt="icon">
            <img class="img-2" src="images/banner-circle-2.png" alt="icon">
            <img class="img-3" src="images/banner-circle-2.png" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main-content">
                            <h1>Profile Page</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="index-2.html.twig">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Profile Page</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heading-area">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="profile-area d-flex align-items-center">
                            <div class="photo">
                                <img src="images/profile-logo.png" alt="Image">
                            </div>
                            <div class="name-area">
                                <h4>Carter Stanton</h4>
                                <span>536K followers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
                        <div class="right d-flex align-items-center">
                            <a href="#" class="cmn-btn">Message</a>
                            <div class="user-logo d-flex align-items-center justify-content-center">
                                <img src="images/user-icon.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   {% endblock %}

{% block content %}
    {{ form_start(form_modify, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(form_modify._token) }}
    <link href={{ asset('assets/css/styleProfile.css') }} rel="stylesheet">

    <div style="padding:70px">

    </div>




    <li>{{form_modify.vars.errors}}</li>



    {% for message in app.flashes('info') %}

        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="container" style="position: relative; top: -100px;">
        <div class="row gutters ">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body purple-entr-profile">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {% set link = "Uploads/Images/" %}
                                    {% set picture = User.photo  %}
                                    {% if User.photo starts with 'https://' %}
                                        <img  src={{ picture }} >
                                    {% else %}
                                        <img  src={{ asset( "#{link}#{picture}" ) }}>
                                    {% endif %}


                                </div>

                                <h5 class="user-name">{{ User.nom }}</h5>
                                <h6 class="user-email">{{ User.email }}</h6>


                                <h6>   <a style="color: #0a0a0a" href="{{ asset('/Uploads/Cv/' ~ User.cv) }}"> Voir mon CV</a> </h6>



                                <a style="color: #0a0a0a" href={{ path('change_passwordEntreprise') }}> Changer votre mot de passe </a>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Vos informations</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">

                                    <label for="phone">Nom</label>

                                    {{ form_widget(form_modify.nom,{ 'attr': {'class': "form-control",
                                        'value': User.nom,
                                        'placeholder': 'Votre Nom'|trans} }) }}
                                    <div style="color:red;"> {{ form_errors(form_modify.nom) }}</div>



                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Numero telephone</label>
                                    {{ form_widget(form_modify.tel,{ 'attr': {'class': "form-control",
                                        'value': User.tel,
                                        'placeholder': 'Votre Telephone'|trans} }) }}
                                    <div style="color:red;"> {{ form_errors(form_modify.tel) }}</div>                                 </div>
                            </div>
                        </div>
                        <div class="row gutters">


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Votre photo</label>

                                    {{ form_widget(form_modify.photo) }}
                                    {{ form_errors(form_modify.photo) }}

                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Votre CV</label>
                                    {{ form_widget(form_modify.cv) }}
                                    {{ form_errors(form_modify.cv) }}


                                </div>

                            </div>





                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-success">Modifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:70px">

        </div>
        <div id="divCheckbox" style="display: none;">{{ form_rest(form_modify) }}</div>


        {{ form_end(form_modify, {'render_rest': false}) }}
    </div>
{% endblock %}
