{% extends 'baseFront.html.twig' %}

{% block banner %}
    <!-- banner-section start -->
    <section id="banner-section" class="inner-banner profile">
        <div class="ani-img">
            <img class="img-1" src="images/banner-circle-1.png" alt="icon">
            <img class="img-2" src="images/banner-circle-2.png" alt="icon">
            <img class="img-3" src="images/banner-circle-2.png" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main-content">
                            <h1>Profile Page</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Profile Page</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heading-area">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="profile-area d-flex align-items-center">
                            <div class="photo">
                                <img src="{{ asset('Uploads/Images/'~User.photo) }}" alt="Image">
                            </div>
                            <div class="name-area">
                                <h4>{{ User.nom }}</h4>
                                <span>536K followers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
                        <div class="right d-flex align-items-center">
                            <a href="{{ path('change_passwordEntreprise') }}" class="cmn-btn">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->
{% endblock %}

{% block content %}
    <!-- Trophies Content Start -->
    <section id="all-trophies" class="pb-120">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="statistics-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="total-area">
                                    <div class="head-area d-flex justify-content-between">
                                        <div class="left">
                                            <h5>Details</h5>
                                            <p class="text-sm">Company's profile details</p>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="fortnite-tab" data-toggle="tab" href="#fortnite" role="tab" aria-controls="fortnite"
                                               aria-selected="true">Infos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="warzone-tab" data-toggle="tab" href="#warzone" role="tab" aria-controls="warzone"
                                               aria-selected="false">Edit</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContents">
                                        <div class="tab-pane fade show active" id="fortnite" role="tabpanel" aria-labelledby="fortnite-tab">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="single-item text-center">
                                                        <p>{{ User.email }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="single-item text-center">
                                                        <p>{{ User.tel }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="single-item text-center">
                                                        {% if User.descuser != '' %}
                                                            <p>{{ User.descuser }}</p>
                                                        {% else %}
                                                            <p>No description</p>
                                                        {% endif %}
                                                    </div>

                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="single-item text-center">
                                                        <p>Level: {{ User.leveluser }}</p>
                                                    </div>
                                                    <div class="class="col-lg-3 col-md-6"">
                                                    <h6>   <a style="color: #0a0a0a" href="{{ asset('/Uploads/Cv/' ~ User.cv) }}"> Voir mon CV</a> </h6>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="warzone" role="tabpanel" aria-labelledby="warzone-tab">
                                            <div class="row">
                                                {{ form(form_modify) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trophies Content End -->
{% endblock %}